<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create New Listing</h3>
            <br><br>
    <form action="/listing" method="POST" novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input id="title" name="listing[title]" type="text" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]"class="form-control" required></textarea>
            <div class="invalid-feedback">
                Desctiption is missing!!
              </div>
        </div>
      
        <div class="mb-3">
            <label for="image" class="form-lable">Upload Image</label>
            <input type="file" name="listing[image]"  class="form-control" />

        </div>

        <div class="row">
            <div class="mb-3 col-3">
                <label for="price" class="form-lable">Price</label>
                <input type="text" name="listing[price]"  class="form-control" required>
                <div class="invalid-feedback">
                    price should be vaild!!
                  </div>
    
            </div>
    
            <div class="mb-3 col-8">
                <label for="country" class="form-lable">Country</label>
                <input type="text" name="listing[country]" class="form-control" required>
                <div class="invalid-feedback">
                   country should be entered properly
                  </div>
            </div>
        </div>
        
  
        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" name="listing[location]"  class="form-control" required>
            <div class="invalid-feedback">
                location should be vaild!!
              </div>
        </div>
       
        <br><br>
        <button type="submit" class="btn btn-dark add-btn">Add</button>
    </form>
    <br><br>
</div>
</div>

